In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [2]:
column_names=['Sample code number','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class']
breast_cancer = pd.read_csv("D:\\Intellify\\breast-cancer-wisconsin.data",sep=',',names=column_names)
breast_cancer.head(30)

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
23,1057013,8,4,5,1,2,?,7,3,1,4
24,1059552,1,1,1,1,2,1,3,1,1,2
25,1065726,5,2,3,4,2,7,3,6,1,4
26,1066373,3,2,1,1,1,1,2,1,1,2
27,1066979,5,1,1,1,2,1,2,1,1,2
28,1067444,2,1,1,1,2,1,2,1,1,2
29,1070935,1,1,3,1,2,1,1,1,1,2

In [3]:
breast_cancer['Class'] = breast_cancer['Class'].map({2: 0, 4: 1})
breast_cancer.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,0
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0
3,1016277,6,8,8,1,3,4,3,7,1,0
4,1017023,4,1,1,3,2,1,3,1,1,0

In [4]:
breast_cancer.interpolate()
breast_cancer.replace(to_replace='?',value=1,inplace=True)
breast_cancer.head(30)

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,0
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0
3,1016277,6,8,8,1,3,4,3,7,1,0
4,1017023,4,1,1,3,2,1,3,1,1,0
5,1017122,8,10,10,8,7,10,9,7,1,1
6,1018099,1,1,1,1,2,10,3,1,1,0
7,1018561,2,1,2,1,2,1,3,1,1,0
8,1033078,2,1,1,1,2,1,1,1,5,0
9,1033078,4,2,1,1,2,1,2,1,1,0
10,1035283,1,1,1,1,1,1,3,1,1,0
11,1036172,2,1,1,1,2,1,2,1,1,0
12,1041801,5,3,3,3,2,3,4,4,1,1
13,1043999,1,1,1,1,2,3,3,1,1,0
14,1044572,8,7,5,10,7,9,5,5,4,1
15,1047630,7,4,6,4,6,1,4,3,1,1
16,1048672,4,1,1,1,2,1,2,1,1,0
17,1049815,4,1,1,1,2,1,3,1,1,0
18,1050670,10,7,7,6,4,10,4,1,2,1
19,1050718,6,1,1,1,2,1,3,1,1,0
20,1054590,7,3,2,10,5,10,5,4,4,1
21,1054593,10,5,5,3,6,7,7,10,1,1
22,1056784,3,1,1,1,2,1,2,1,1,0
23,1057013,8,4,5,1,2,1,7,3,1,1
24,1059552,1,1,1,1,2,1,3,1,1,0
25,1065726,5,2,3,4,2,7,3,6,1,1
26,1066373,3,2,1,1,1,1,2,1,1,0
27,1066979,5,1,1,1,2,1,2,1,1,0
28,1067444,2,1,1,1,2,1,2,1,1,0
29,1070935,1,1,3,1,2,1,1,1,1,0

In [5]:
breast_cancer.shape

(699, 11)

In [6]:
breast_cancer.columns

Index(['Sample code number', 'Clump Thickness', 'Uniformity of Cell Size',
       'Uniformity of Cell Shape', 'Marginal Adhesion',
       'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
       'Normal Nucleoli', 'Mitoses', 'Class'],
      dtype='object')

In [7]:
from sklearn.ensemble import RandomForestClassifier

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(breast_cancer.drop(['Sample code number','Class'],axis=1), breast_cancer['Class'], test_size=0.33, random_state=55)

In [9]:
model = RandomForestClassifier(max_depth=2, random_state=0)
model.fit(X_train,y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [10]:
pred = model.predict(X_test)
print(pred)
accuracy = model.score(X_test, y_test)
print(accuracy)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 1
 0 0 0 1 1 0 1 0 0 0 1 1 0 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0
 1 0 0 0 1 1 0 1 1 1 0 0 1 0 0 0 0 1 1 1 0 0 1 0 0 1 0 1 0 1 1 1 0 1 1 0 0
 0 0 0 0 0 0 1 0 0 1 0 1 0 1 1 1 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 1 0 1 1 0 1
 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 1 0 1 1 1 0 0 0 0 0 1 1 1 1 1 0 0 1 0 0 0
 0 0 1 0 1 0 0 0 1 1 0 0 0 0 1 1 0 0 1 1 1 0 0 0 0 1 0 0 1 1 0 1 0 1 1 0 0
 0 0 1 1 1 1 0 1 0]
0.9523809523809523

In [11]:
y_test

26     0
301    0
535    0
695    0
684    0
      ..
56     1
67     1
212    0
691    1
342    0
Name: Class, Length: 231, dtype: int64

In [13]:
clump_thickness=int(input("Enter Your Clump Thickness: "))
uniformity_of_cell_size=int(input("Enter The Uniformity Of Cell Size: "))
uniformity_of_cell_shape=int(input("Enter The Uniformity Of Cell Shape: "))
marginal_adhesion=int(input("Enter The Marginal Adhesion: "))
single_epithelial_cell_size=int(input("Enter The Single Epithelial Cell Size: "))
bare_nuclei=int(input("Enter The Bare Nuclei: "))
bland_chromatin=int(input("Enter The Bland Chromatin: "))
normal_nucleoli=int(input("Enter The Normal Nucleoli: "))
mitosis=int(input("Enter The Mitoses: "))

Enter Your Clump Thickness: 1
Enter The Uniformity Of Cell Size: 1
Enter The Uniformity Of Cell Shape: 1
Enter The Marginal Adhesion: 1
Enter The Single Epithelial Cell Size: 2
Enter The Bare Nuclei: 1
Enter The Bland Chromatin: 1
Enter The Normal Nucleoli: 1
Enter The Mitoses: 1

In [14]:
prop=[]
prop.extend([clump_thickness,uniformity_of_cell_size,uniformity_of_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitosis])

In [15]:
prop_data=pd.DataFrame(columns=['Clump Thickness', 'Uniformity of Cell Size',
       'Uniformity of Cell Shape', 'Marginal Adhesion',
       'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
       'Normal Nucleoli', 'Mitoses'])

In [16]:
prop_data.loc[len(prop)] = prop

In [17]:
pred=model.predict(prop_data)
if(pred==1):
    print("RISK")
else:
    print("NO RISK")

NO RISK

In [19]:
import pickle
pickle.dump(model, open('model.breast_cancer', 'wb'))